metadata_dir = "{{ garage_meta_dir }}"
data_dir = "{{ garage_data_dir }}"

db_engine = "{{ garage_db_engine }}"
replication_factor = {{ garage_replication_factor }}
consistency_mode = "{{ garage_consistency_mode }}"
metadata_auto_snapshot_interval = "{{ garage_metadata_auto_snapshot_interval }}"
compression_level = {{ garage_compression_level }}

rpc_bind_addr = "{{ garage_rpc_bind_addr }}"
rpc_public_addr = "{{ garage_rpc_public_addr }}"
rpc_secret_file = "{{ garage_rpc_secret_file }}"
allow_world_readable_secrets = false

[s3_api]
s3_region = "{{ garage_s3_region }}"
api_bind_addr = "{{ garage_s3_bind_addr }}"
{% if garage_s3_root_domain | length > 0 %}
root_domain = "{{ garage_s3_root_domain }}"
{% endif %}

[admin]
# Keep the admin API local and require a token for administrative calls.
api_bind_addr = "{{ garage_admin_bind_addr }}"
admin_token_file = "{{ garage_admin_token_file }}"
