infra-lab-services.tail494f6d.ts.net {
	tls internal

	@grafana {
		path /grafana /grafana/*
	}

	handle @grafana {
		reverse_proxy grafana:3000
	}

	@forgejo {
		path /forgejo /forgejo/*
	}

	handle @forgejo {
		uri strip_prefix /forgejo
		reverse_proxy forgejo:3000
	}

	handle {
		reverse_proxy https://10.1.10.156:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}
